<h2>Delete</h2>

<h3>Seriously delete template "<%= template.template_name %>"?</h3>
<form action="/template/<%= template.id %>/delete" method="POST"><input type="submit" value="Yes"></form>
<a href="/">No, go back</a>
