<h2>Create Template</h2>

<% if (errors) { %>
    <% errors.forEach(function(e) { %>
    <strong>Error: <%= e %>
    <% }); %>
<% } %>

<form action="/template/create" method="POST">
Template Name: <input type="text" name="template[template_name]" value="<%= template.template_name || '' %>">
<br>

Template Body:
<br>

<div id="aceEditor" style="position: relative; width: 900px; height: 400px;"></div>
<textarea id="bodyTextarea" style="visibility: hidden;" name="template[body]"><%= template.body || '' %></textarea>
<br>

<input type="submit" value="Create">
</form>
